body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}          

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}   

button {
    cursor: pointer;
}
               
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}          

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo:hover {
    color: #404bbf;
}

.logo-text {
    color: #2E2F42;
}

.menu-bth {
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-icon {
    display: block;
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
.menu-bth {
    display: none;
}

.header-container-item {
    display: flex;
    align-items: center;
}

.header-container-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.container-item-link {
    padding: 24px 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.container-item-link.current {
    position: relative;
    color: #404BBF;
}
    
.container-item-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
}
    
.container-item-link:hover {
    color: #404BBF;
}
    
.container-item-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}

.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover {
    background-color: #404BBF;
    border: none;
}

.mobile-menu-close:focus {
    background-color: #404BBF;
    border: none;
}

.mobile-menu-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon:hover {
    fill: #FFFFFF;
}

.mobile-menu-close-icon:focus {
    fill: #FFFFFF;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-container-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 151px;
    height: 200px;
}

.mobile-item {
    padding-bottom: 40px;
    flex-direction: row;
}

.mobile-item:last-child {
    padding-bottom: 0;
}

.mobile-item-link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-item-link:hover {
    color: #404BBF;
}

.mobile-item-link:focus {
    color: #404bbf;
}

.mobile-menu-address {
    font-style: normal;
    display: block;
    margin-bottom: 48px;
}

.menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-contacts-link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts-link:hover {
    color: #404BBF;
}

.menu-contacts-link:focus {
    color: #404bbf;
}

.menu-icons-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu-svg-icons {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.menu-svg-link {
    border-radius: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-svg-link:hover {
    background-color: #404BBF;
    border-radius: 50%;
}

.menu-svg-link:focus {
    background-color: #404bbf;
}

.menu-svg-item {
    padding: 8px;
    fill: #F4F4FD;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* section 1 */

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    background-color: #2E2F42;
    padding-bottom: 72px;
    padding-top: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 320px;
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name@2x.jpg);
    }
}

.hero-container {
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.hero-title {
    margin: 0 auto 72px auto;
    max-width: 216px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    display: block;
    min-width: 169px;
    max-width: 100%;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 72px;
    margin-left: 75px;
    margin-right: 76px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background: #404BBF;
}

.hero-btn:focus {
    background: #404BBF;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.hero {
    padding-bottom: 112px;
    padding-top: 112px;
    min-width: 768px;
}    

.hero-title {
    margin: 0 auto 36px auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
}

.hero-btn {
    margin-top: 0;
    max-width: 100%;
}
}

@media screen and (min-width: 1158px) {
.hero {
    padding-bottom: 188px;
    padding-top: 188px;
    min-width: 1158px;
}

.hero-title {
    margin: 0 auto 48px auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
}

.hero-btn {
    margin-top: 0;
    max-width: 100%;
}
}

/* section 2 */

.goals {
    padding-top: 96px;
    padding-bottom: 96px;
}

.goals-container {
    min-width: 320px;
    margin: 0 auto;
}

.goals-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px;
}

.goals-item {
    padding: 0;
    width: 100%;
}

.goals-icons {
    display: none;
}

.goals-additional-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.goals-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.goals-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.goals-container {
    min-width: 768px;
}

.goals-list {
    gap: 72px 24px;
}

.goals-item {  
    width: calc((100% - 24px) / 2);
}

.goals-title {
    text-align: justify;
}
}

@media screen and (min-width: 1158px) {
    .goals-container {
        display: flex;
    }

    .goals {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .goals-list {
        gap: 24px;
    }

    .goals-item {
        width: calc((100% - 72px) / 4);
    }

    .goals-icons {
        border: 1px solid #8E8F99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .goals-title {
        text-align: justify;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

/* section 3 */

.team {
    background: #F4F4FD;
    max-width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px;
    justify-content: center;
    list-style: none;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-box {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-descr {
    text-align: center;
    margin-top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.svg-icons {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.svg-link {
    border-radius: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link:hover {
    background-color: #404BBF;
    border-radius: 50%;
}

.svg-link:focus {
    background-color: #404bbf;
}

.svg-item {
    padding: 12px;
    fill: #F4F4FD;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-container {
        width: 584px;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
       flex-wrap: nowrap;
       gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

/* section 4 */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    margin-bottom: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}
.overflow-container {
    position: relative;
    overflow: hidden;
}

.overflow-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overflow-text {
    transform: translateY(0);
}
.portfolio-icons {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-icons:hover {
    background: #FFFFFF;
}

.portfolio-item-title {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-category {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        ;
    }
}

/* footer */

.page-footer {
    background-color: #2E2F42;
    max-width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
    align-items: baseline;
}

.logo-additional {
    margin-left: 86px;
    margin-bottom: 16px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-additional-text {
    display: inline-block;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-container-descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em
}

.social-container {
    margin-left: 56px;
    max-width: 208px;
    height: 80px;
}

.social-text {
    margin-left: 56px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
}

.svg-icons {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.svg-link-footer:hover {
    background-color: #31D0AA;
    border-radius: 50%;
}

.svg-link-footer:focus {
    background-color: #31D0AA;
    border-radius: 50%;
}

.svg-item-footer {
    padding: 8px;
    fill: #f4f4fd;
    width: 40px;
    height: 40px;
}

.email-container {
    max-width: 288px;
    height: 136px;
    display: flex;
    margin-left: auto;
    flex-direction: column;
}